@{
    ViewBag.Title = "About 725Soft";
}

<h3>What is 725Soft standing for?</h3>
<ol class="round">
    <li class="one">
        <h5>365</h5>
        We provide IT support everyday in a year.
    </li>

    <li class="two">
        <h5>360</h5>
        We provide Service in every degree of customer.
    </li>

    <li class="three">
        <h5>725Soft</h5>
        365 + 360 = 725Soft Tech.
    </li>
</ol>