@{
    ViewBag.Title = @Resources.Global.Cases_Title;
}

<h3>@Resources.Global.Cases_Header_Title</h3>
<div class="flex">
		    <a style="left:0px;   height:300px;top:0px;width:120px;background-image: url(../../Images/Cases/CarFlowCalculate.jpg); background-size: 470px auto;" width="470" height="360">車流量影像辨識系統</a>
		    <a style="left:130px; height:300px;top:0px;width:120px;background-image: url(../../Images/Cases/Huge_WebSite_Home.jpg); background-size: 480px auto;" width="480" height="280">大型多語系網站開發</a>
		    <a style="left:260px; height:300px;top:0px;width:120px;background-image: url(../../Images/Cases/Trend_Light_Home.jpg);" width="451" height="360">中小企業形象網站開發</a>
		    <a style="left:390px; height:150px;top:0px;width:120px;background-image: url(../../Images/Cases/BigData_ETL_Flowchart.jpg);" width="360" height="300">大型資料庫整合與開發</a>
		    <a style="left:520px; height:150px;top:0px;width:120px;background-image: url(../../Images/Cases/Flash_Business_Intelligence.jpg); background-size: auto 271px;" width="450" height="271">Flash開發</a>
		    <a style="left:390px; height:150px;top:160px;width:250px;background-image: url(../../Images/Cases/Customer_Intelligence_Search.jpg); background-size: auto 300px;" width="350" height="250">商業智慧系統開發</a>
</div>
