@{
    ViewBag.Title = @Resources.Global.Cases_Title;
}

<h3>@Resources.Global.Cases_Header_Title</h3>
<div class="flex">
		    <a style="left:0px;top:0px;width:250px;height:125px;background-image: url(../../Images/Cases/CarFlowCalculate.jpg); background-size: 400px auto;" width="350" height="275">車流量影像辨識系統</a>
		    <a style="left:260px;height:100px;top:0px;width:125px;background-image: url(../../Images/Cases/Huge_WebSite_Home.jpg); background-size: 300px auto;" width="250" height="175">大型多語系網站開發</a>
		    <a style="left:395px;height:250px;top:0px;width:75px;background-image: url(../../Images/Cases/Trend_Light_Home.jpg);" width="125" height="350">中小企業形象網站開發</a>
		    <a style="left:480px;height:75px;top:0px;width:75px;background-image: url(../../Images/Cases/BigData_ETL_Flowchart.jpg);" width="175" height="150">大型資料庫整合與開發</a>
		    <a style="left:565px;height:125px;top:0px;width:200px;background-image: url(../../Images/Cases/Flash_Business_Intelligence.jpg); background-size: auto 280px;" width="200" height="250">Flash開發</a>
		    <a style="left:480px;height:200px;top:85px;width:75px;background-image: url(../../Images/Cases/Customer_Intelligence_Search.jpg); background-size: auto 280px;" width="150" height="225">商業智慧系統開發</a>
</div>
