@{
    ViewBag.Title = "Contact 725Soft";
}

<h3>Contact information:</h3>
    <section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Cell:</span>
        <span>0933096894</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:725Soft@gmail.com">725Soft@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        725Soft Building<br />
        Sec. 2, Dunhua S. Rd., Da’an Dist., Taipei City 106, Taiwan (R.O.C.)
    </p>
</section>