@{
    ViewBag.Title = "Welcom to 725Soft Tech";
}

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Get to Know 725Soft</h5>
        You can see the about us page to see what is 725Soft about. And to see what kind of services and solutions we provide.
    </li>

    <li class="two">
        <h5>See the Cases</h5>
        In the Cases page we have list a lot of cases study and solutions we have provided.
    </li>

    <li class="three">
        <h5>Contact us</h5>
        No matter what kind of service you are looking for, just contact us you will get the answer you want.
    </li>
</ol>
